<div class="row">
	<div class="col-lg-3 col-12">
		<h2>
			About Us
		</h2>
		<ul>
			<li><a href="">Contact</a></li>
			<li><a href="">Review</a></li>
		</ul>
		<div class="mt-2"></div>
		<form action="">
			<input type="email" class="form-control">
			<button class="btn btn-secondary mt-2">SEND</button>
		</form>
	</div>
	<div class="col-lg-3 col-12">
		<h2>
			Quick Links
		</h2>
		<div class="row">
			<div class="col-lg-6 col-12">
				<ul>
					<li>About</li>
					<li>Blog</li>
					<li>Gallery</li>
					<li>Testimonials</li>
				</ul>
			</div>
	</div>
</div>

	<div class="col-lg-3 col-12">
		<h2>
			Contact Info
		</h2>
		<div>
			<p>
				<i class="fa fa-location-arrow" aria-hidden="true"></i> 202 King St. W, Toronto, ON
			</p>
			<p>
				<i class="fa fa-phone" aria-hidden="true"></i> 416-444-4444
			</p>
			<p>
				<i class="fa fa-envelope"></i> codeanddesign@domain.com
			</p>
		</div>
	</div>
</div>
