img:hover {
	transition: 300ms;
	transform: scale(00.9)
}

.card {
	height: 550px;
}

.card-img-top {
	height: 300px;
}

.products {
	margin-top: 10%;
}

hr {
	margin-top: 15%;
  display: block;
	width: 100%;
	border: 1px solid black;
	color: black;
}
