.cnt {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}

img {
	width: 700px;
	margin-left: 45%;
	margin-top: 10%;
}

.title {
	font-family: 'Pacifico', 'Helvetica', 'sans-serif';
}

.subtitle {
	margin-top: 25%;
}
